body {
  background-color: #8800ff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #ffffff;
}

.galeria img {
  width: 200px;
  margin: 10px;
  border: 2px solid #555;
  border-radius: 8px;
}
